@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Maison Neue';
    src: url('./assets/fonts/MaisonNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Maison Neue', sans-serif;
  }
  